<h1>Tackling an open problem</h1>

For this homework the idea is to hone our skills on exploring and plotting a dataset. You can either work with the Pokemon dataset that was given or download your own. If you opt to download your own I recommend you use one of the datasets available on kaggle,

https://www.kaggle.com/datasets

As they tend to be found in a clean format and are generally free to use.

Largely, the main objective is learning how to search the internet for new implementations you want to use on your code helping you develop your self-confidence.

There's no right or wrong, pick a dataset you enjoy and try to have some fun.
If you need, use the notebook from the previous session as a guideline.

In [26]:
import opendatasets as od 
import pandas 

od.download( 
	"https://www.kaggle.com/datasets/rkiattisak/traveler-trip-data")

Dataset URL: https://www.kaggle.com/datasets/rkiattisak/traveler-trip-data
Downloading traveler-trip-data.zip to .\traveler-trip-data

100%|██████████| 4.21k/4.21k [00:00<00:00, 426kB/s]

In [84]:
import pandas as pd

In [86]:
import matplotlib.pyplot as plt

In [88]:
import numpy as np

travel_df = pd.read_csv('Travel.csv', sep=',')

In [98]:
print(travel_df)

     Trip ID             Destination Start date   End date  Duration (days)  \
0          1              London, UK   5/1/2023   5/8/2023              7.0
1          2        Phuket, Thailand  6/15/2023  6/20/2023              5.0
2          3         Bali, Indonesia   7/1/2023   7/8/2023              7.0
3          4           New York, USA  8/15/2023  8/29/2023             14.0
4          5            Tokyo, Japan  9/10/2023  9/17/2023              7.0
..       ...                     ...        ...        ...              ...
134      135  Rio de Janeiro, Brazil   8/1/2023  8/10/2023              9.0
135      136       Vancouver, Canada  8/15/2023  8/21/2023              6.0
136      137       Bangkok, Thailand   9/1/2023   9/8/2023              7.0
137      138        Barcelona, Spain  9/15/2023  9/22/2023              7.0
138      139   Auckland, New Zealand  10/1/2023  10/8/2023              7.0

       Traveler name  Traveler age Traveler gender Traveler nationality  \
0         John Smith          35.0            Male             American
1           Jane Doe          28.0          Female             Canadian
2          David Lee          45.0            Male               Korean
3      Sarah Johnson          29.0          Female              British
4         Kim Nguyen          26.0          Female           Vietnamese
..               ...           ...             ...                  ...
134       Jose Perez          37.0            Male            Brazilian
135      Emma Wilson          29.0          Female             Canadian
136        Ryan Chen          34.0            Male              Chinese
137  Sofia Rodriguez          25.0          Female              Spanish
138    William Brown          39.0            Male        New Zealander

    Accommodation type Accommodation cost Transportation type  \
0                Hotel               1200              Flight
1               Resort                800              Flight
2                Villa               1000              Flight
3                Hotel               2000              Flight
4               Airbnb                700               Train
..                 ...                ...                 ...
134             Hostel               2500                 Car
135              Hotel               5000            Airplane
136             Hostel               2000               Train
137             Airbnb               6000            Airplane
138              Hotel               7000               Train

    Transportation cost
0                   600
1                   500
2                   700
3                  1000
4                   200
..                  ...
134                2000
135                3000
136                1000
137                2500
138                2500

[139 rows x 13 columns]